.bundle/
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/config/initializers/serious_business.rb
test/dummy/db/migrate/*_create_serious_business.rb
.byebug_history
