<!DOCTYPE html>
<html>
<head>
  <title>Serious business</title>
  <%= stylesheet_link_tag    "serious_business/application", media: "all" %>
  <%= javascript_include_tag "serious_business/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
